#
# Copyright (c) 2023 YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_GOWIN
	bool

if SOC_FAMILY_GOWIN

config SOC_FAMILY
	string
	default "gowin"

# source "soc/arm/gowin/*/Kconfig.soc"
rsource "./*/Kconfig.soc"

endif # SOC_FAMILY_GOWIN
