IO_LOC "iic_data" 46;
IO_PORT "iic_data" PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "iic_clock" 44;
IO_PORT "iic_clock" PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart_tx" 13;
IO_PORT "uart_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "reset" 15;
IO_PORT "reset" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clock" 45;
IO_PORT "clock" PULL_MODE=UP BANK_VCCIO=1.8;
